<%= form_for(@router) do |f| %>
  <% if @router.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@router.errors.count, "error") %> prohibited this router from being saved:</h2>

      <ul>
      <% @router.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :red_id %><br>
    <%= f.text_field :red_id %>
  </div>
  <div class="field">
    <%= f.label :bssid %><br>
    <%= f.text_field :bssid %>
  </div>
  <div class="field">
    <%= f.label :essid %><br>
    <%= f.text_field :essid %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :public_ip %><br>
    <%= f.text_field :public_ip %>
  </div>
  <div class="field">
    <%= f.label :port %><br>
    <%= f.text_field :port %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
