<p id="notice"><%= notice %></p>

<p>
  <strong>Isp:</strong>
  <%= @red.isp %>
</p>

<p>
  <strong>Password:</strong>
  <%= @red.password %>
</p>

<p>
  <strong>Wps pin:</strong>
  <%= @red.wps_pin %>
</p>

<%= link_to 'Edit', edit_red_path(@red) %> |
<%= link_to 'Back', reds_path %>
